@model IEnumerable<asp.Models.Group>

@{
    ViewData["Title"] = "Show";
}

<h1>Show</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    <a asp-controller="Groups" asp-action="Edit" asp-route-id="@item.GroupId">Edit</a> |
                    <a asp-controller="Groups" asp-action="Details" asp-route-id="@item.GroupId">Details</a> |
                    <a asp-controller="Groups" asp-action="Delete" asp-route-id="@item.GroupId">Delete</a> |
                    <a asp-controller="Groups" asp-action="Show" asp-route-id="@item.GroupId">Show students</a>
                </td>
            </tr>
        }
    </tbody>
</table>
